.c-header{
    background: $baseColor;
    @include mq-down(){
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
    }
}

.c-header-logo{
    display: flex;
    align-items: center;
    max-width: 238px;
}